.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #2A2F4F;
  color: #fff;
}

.train-card {
  background-color: #7C96AB;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.train-card:hover {
  background-color: #3C486B;
}

.train-name {
  font-size: 1.5rem;
  margin-top: 0;
  color: #fff;
}

.train-table {
  width: 100%;
  margin-top: 1rem;
}

.table-label {
  font-weight: bold;
  color: #fff;
}

.table-value {
  padding-left: 1rem;
}

.main-row{
  padding-top: 2%;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .train-card {
    margin-bottom: 1rem;
  }

  .train-name {
    font-size: 1.2rem;
  }
}